<ion-content padding>

  <div padding>
    <ion-segment [(ngModel)]="segmento">
      <ion-segment-button value="perfiles">
        Perfiles
      </ion-segment-button>
      <ion-segment-button value="roles">
        Roles
      </ion-segment-button>
      <ion-segment-button value="funcionarios">
        Funcionarios
      </ion-segment-button>
      <ion-segment-button value="clientes">
        Clientes
      </ion-segment-button>
      <ion-segment-button value="asignar_permisos">
        Asignar permisos
      </ion-segment-button>
      <ion-segment-button value="asignar_roles">
        Asignar roles
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="segmento">

    <ion-list *ngSwitchCase="'perfiles'">
      <ion-item>
        <ion-card>
          <ion-item>
            <h2>Perfil</h2>
            <p>Listado de perfiles</p>
          </ion-item>
          <ion-item *ngFor="let item of perfiles">
            <p>{{ item.nombre }}</p>
          </ion-item>
        </ion-card>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'roles'">
      <ion-item>
        <ion-card>
          <ion-item>
            <h2>Rol</h2>
            <p>Listado de roles</p>
          </ion-item>
          <ion-item *ngFor="let item of roles">
            <p>{{ item.nombre }}</p>
          </ion-item>
        </ion-card>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'funcionarios'">
      <ion-item>
        <button ion-button icon-start outline (click)="guardarFuncionario()">
          <ion-icon name="create"></ion-icon>
          Nuevo funcionario
        </button>
      </ion-item>
      <ion-card *ngFor="let item of funcionarios">
        <ion-item>
          <h2>{{ item.nombres }} {{ item.apellidos }}</h2>
        </ion-item>
        <ion-item>
          <p>
            <strong>Correo:</strong>{{ item.correo }}</p>
        </ion-item>
        <ion-item>
          <p>
            <strong>Firma:</strong>
          </p>
          <img [src]="item.firma.firma" alt="firma" style="width:100px;">
        </ion-item>
        <ion-item>
          <button ion-button block (click)="guardarFuncionario(item)">Editar</button>
        </ion-item>
      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'clientes'">

      <ion-item>
        <button ion-button icon-start outline (click)="guardarCliente()">
          <ion-icon name="create"></ion-icon>
          Nuevo cliente
        </button>
      </ion-item>
      <ion-card *ngFor="let item of clientes">
        <ion-item>
          <h2>{{ item.nombres }} {{ item.apellidos }}</h2>
        </ion-item>
        <ion-item>
          <p>
            <strong>Correo:</strong>{{ item.correo }}</p>
        </ion-item>
        <ion-item>
          <button ion-button block (click)="guardarCliente(item)">Editar</button>
        </ion-item>
      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'asignar_permisos'">

      <ion-item>
        <ion-card *ngFor="let permiso of permisos">
          <ion-item>
            <h2>{{ permiso.titulo }}</h2>
          </ion-item>
          <ion-item *ngFor="let rol of roles">
            <ion-label>{{ rol.nombre }}</ion-label>
            <ion-toggle (ionChange)="updateItem($event, rol, permiso)"></ion-toggle>
          </ion-item>
        </ion-card>
      </ion-item>

    </ion-list>

    <ion-list *ngSwitchCase="'asignar_roles'">
      <ion-item>
        <!-- <ion-card *ngFor="let item of roles">
                <ion-item>
                  <h2>{{ item.nombres }} {{ item.apellidos }}</h2>
                </ion-item>
                <ion-item>
                  <p>
                    <strong>Correo:</strong>{{ item.correo }}</p>
                </ion-item>
                <ion-item>
                  <button ion-button block (click)="guardarCliente(item)">Editar</button>
                </ion-item>
              </ion-card> -->
      </ion-item>
    </ion-list>

  </div>
</ion-content>