<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-md-2 offset-md-10>
        <button *ngIf="isCliente" ion-button outline color="secondary" (click)="registroCita()">Nuevo</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <h4 text-center>Historial de citas</h4>


  <ion-card *ngFor="let cita of citas">
    <ion-card-header>
      <h4>Cita # {{ cita.id }}</h4>
    </ion-card-header>
    <ion-card-content>
      <p>
        <strong>Fecha: </strong>{{ cita.fecha }}</p>
      <p>
        <strong>Hora: </strong>{{ cita.hora }}</p>
      <p>
        <strong>Estado: </strong>{{ cita.estado }}</p>
      <p>
        <strong>Cliente: </strong>{{ cita.cliente.nombres }} {{ cita.cliente.apellidos }}</p>

      <p *ngIf="cita.estado === 'Asignada' && usuario.perfil.nombre === 'Funcionario'">
        <strong>Cerrar: </strong>
        <a (click)="cerrar(cita.id)">Cerrar</a>
      </p>
      <p *ngIf="cita.estado === 'Asignada' && usuario.perfil.nombre === 'Funcionario'">
        <strong>Cancelada: </strong>
        <a (click)="cancelar(cita.id)">Cancelar</a>
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>