<ion-content padding>

  <button ion-button outline navPop>
    <ion-icon name="arrow-back"></ion-icon>
  </button>

  <h4>Buscar Registro Civil</h4>

  <ion-grid text-center>
    <ion-row col-12 col-md-10 offset-md-1>
      <ion-col>
        <ion-item>
          <ion-label stacked>Seleccione una opción</ion-label>
          <ion-select [(ngModel)]="busqueda.tipo_tramite">
            <ion-option *ngFor="let item of tiposTramite" [value]="item.id">{{ item.nombre }}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label stacked>Digite el filtro</ion-label>
          <ion-input placeholder="Indicativo serial o nuip" type="text" [(ngModel)]="busqueda.filtro"></ion-input>
        </ion-item>
      </ion-col>
      <button ion-button full (click)="buscar(busqueda.filtro)">Buscar</button>
    </ion-row>
  </ion-grid>

  <ion-grid text-center *ngIf="nacimiento.indicativo_serial">
    <ion-row>
      <ion-col col-12 col-md-10 offset-md-1>
        <ion-item>
          <p>
            <strong>Nombres: </strong>{{ nacimiento.inscrito.nombres }}</p>
        </ion-item>
        <ion-item>
          <p>
            <strong>Apellidos: </strong>{{ nacimiento.inscrito.primer_apellido }} {{ nacimiento.inscrito.segundo_apellido }}</p>
        </ion-item>
        <ion-item>
          <p>
            <strong>Fecha nacimiento: </strong>{{ nacimiento.inscrito.fecha_nacimiento }}</p>
        </ion-item>
        <button ion-button (click)="solicitarNacimiento()">Solicitar duplicado</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid text-center *ngIf="matrimonio.indicativo_serial">
    <ion-row>
      <ion-col col-12 col-md-10 offset-md-1>
        <ion-item>
          <p>
            <strong>El contrayente: </strong>{{ matrimonio.contrayente_uno.nombres }}</p>
        </ion-item>
        <ion-item>
          <p>
            <strong>La contrayente: </strong>{{ matrimonio.contrayente_dos.nombres }}</p>
        </ion-item>
        <ion-item>
          <p>
            <strong>Fecha celebración: </strong>{{ matrimonio.fecha_celebracion }}</p>
        </ion-item>
        <button ion-button (click)="solicitarMatrimonio()">Solicitar duplicado</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid text-center *ngIf="defuncion.indicativo_serial">
    <ion-row>
      <ion-col col-12 col-md-10 offset-md-1>
        <ion-item>
          <p>
            <strong>Nombres: </strong>{{ defuncion.inscrito_defuncion.nombres }}</p>
        </ion-item>
        <ion-item>
          <p>
            <strong>Documento: </strong>{{ defuncion.inscrito_defuncion.documento }}</p>
        </ion-item>
        <ion-item>
          <p>
            <strong>Fecha defunción: </strong>{{ defuncion.fecha_defuncion }}</p>
        </ion-item>
        <button ion-button (click)="solicitarDefuncion()">Solicitar duplicado</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>