<ion-header>
  <ion-navbar>
    <ion-title>Registro de pago</ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <p>
      <strong>Tipo de tramite</strong>
      {{ this.tipo_tramite.nombre }}
    </p>
  </ion-item>
  <ion-item>
    <p>
      <strong>Precio</strong>
      {{ this.tipo_tramite.valor }}
    </p>
  </ion-item>
  <form [formGroup]="frmRegistro" (ngSubmit)="guardarPago()">
    <ion-label stacked>Forma de pago</ion-label>
    <ion-select formControlName="forma_pago_id">
      <ion-option *ngFor="let item of formasPago" [value]="item.id">{{ item.nombre }}</ion-option>
    </ion-select>
    <div *ngIf="!!frmRegistro.value.forma_pago_id && frmRegistro.value.forma_pago_id !== 1">
      <ion-item>
        <ion-label stacked>Cod Autorización</ion-label>
        <ion-input formControlName="cod_autorizacion" clearInput></ion-input>
      </ion-item>
      <div *ngIf="frmRegistro.controls['cod_autorizacion'].touched && !frmRegistro.controls['cod_autorizacion'].valid">
        <small color="danger" ion-text *ngIf="frmRegistro.controls['cod_autorizacion'].hasError('maxlength') 
            || frmRegistro.controls['cod_autorizacion'].hasError('minlength') || frmRegistro.controls['cod_autorizacion'].hasError('pattern')">
          Valores no válidos
        </small>
      </div>
      <ion-item>
        <ion-label stacked>Cod Transacción</ion-label>
        <ion-input formControlName="cod_transaccion" clearInput></ion-input>
      </ion-item>
      <div *ngIf="frmRegistro.controls['cod_transaccion'].touched && !frmRegistro.controls['cod_transaccion'].valid">
        <small color="danger" ion-text *ngIf="frmRegistro.controls['cod_transaccion'].hasError('maxlength') 
            || frmRegistro.controls['cod_transaccion'].hasError('minlength') || frmRegistro.controls['cod_transaccion'].hasError('pattern')">
          Valores no válidos
        </small>
      </div>
    </div>
    <button ion-button block type="submit" [disabled]="!frmRegistro.valid">Pagar</button>
  </form>

</ion-content>