<ion-content padding>
    <div text-center>
        <img src="../../assets/imgs/logo_rnec-3.png" alt="" style="width:150px;">
        <p>
            <strong>Registro civil de matrimonio</strong>
        </p>
    </div>
    <form [formGroup]="frmRegistro" (ngSubmit)="guardarRegistro()">

        <ion-card>
            <ion-card-content>
                <h2>Datos del matrimonio</h2>
                <ion-grid>

                    <h4 text-center>Lugar de la celebración (Pais - Departamento - Municipio - Corregimiento)</h4>
                    <ion-row>
                        <ion-col col-6 col-md-3>
                            <ion-item>
                                <ion-label stacked>Pais</ion-label>
                                <ion-select formControlName="lugar_celebracion_pais">
                                    <template *ngFor="let item of paises">
                                        <ion-option [value]="item">{{item.nombre}}</ion-option>
                                    </template>
                                </ion-select>
                            </ion-item>
                            <div *ngIf="frmRegistro.controls['lugar_celebracion_pais'].touched && !frmRegistro.controls['lugar_celebracion_pais'].valid">
                                <small color="danger" ion-text *ngIf="frmRegistro.controls['lugar_celebracion_pais'].hasError('required') ">
                                    El campo es requerido
                                </small>
                            </div>
                        </ion-col>
                        <ion-col col-6 col-md-3>
                            <ion-item>
                                <ion-label stacked>Departamento</ion-label>
                                <ion-select formControlName="lugar_celebracion_departamento">
                                    <template *ngFor="let item of departamentos">
                                        <ion-option *ngIf="item.pais.id === frmRegistro.value.lugar_celebracion_pais.id" [value]="item">{{item.nombre}}</ion-option>
                                    </template>
                                </ion-select>
                            </ion-item>
                            <div *ngIf="frmRegistro.controls['lugar_celebracion_departamento'].touched && !frmRegistro.controls['lugar_celebracion_departamento'].valid">
                                <small color="danger" ion-text *ngIf="frmRegistro.controls['lugar_celebracion_departamento'].hasError('required') ">
                                    El campo es requerido
                                </small>
                            </div>
                        </ion-col>
                        <ion-col col-6 col-md-3>
                            <ion-item>
                                <ion-label stacked>Municipio</ion-label>
                                <ion-select formControlName="lugar_celebracion_municipio">
                                    <template *ngFor="let item of municipios">
                                        <ion-option *ngIf="item.departamento.id == frmRegistro.value.lugar_celebracion_departamento.id " [value]="item">{{item.nombre}}</ion-option>
                                    </template>
                                </ion-select>
                            </ion-item>
                            <div *ngIf="frmRegistro.controls['lugar_celebracion_municipio'].touched && !frmRegistro.controls['lugar_celebracion_municipio'].valid">
                                <small color="danger" ion-text *ngIf="frmRegistro.controls['lugar_celebracion_municipio'].hasError('required') ">
                                    El campo es requerido
                                </small>
                            </div>
                        </ion-col>
                        <ion-col col-6 col-md-3>
                            <ion-item>
                                <ion-label stacked>Corregimiento</ion-label>
                                <ion-select formControlName="lugar_celebracion_corregimiento">
                                    <template *ngFor="let item of corregimientos">
                                        <ion-option *ngIf="item.municipio.id == frmRegistro.value.lugar_celebracion_municipio.id" [value]="item">{{item.nombre}}</ion-option>
                                    </template>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-6 col-md-4>
                            <ion-item>
                                <ion-label stacked>Fecha de la celebración</ion-label>
                                <ion-datetime displayFormat="MM/DD/YYYY" formControlName="fecha_celebracion"></ion-datetime>
                            </ion-item>
                            <div *ngIf="frmRegistro.controls['fecha_celebracion'].touched && !frmRegistro.controls['fecha_celebracion'].valid">
                                <small color="danger" ion-text *ngIf="frmRegistro.controls['fecha_celebracion'].hasError('required') ">
                                    El campo es requerido
                                </small>
                            </div>
                        </ion-col>
                        <ion-col col-6 col-md-4>
                            <ion-item>
                                <ion-label stacked>Tipo de matrimonio</ion-label>
                                <ion-select formControlName="tipo_matrimonio">
                                    <ion-option value="civil">Civil</ion-option>
                                    <ion-option value="religioso">Religioso</ion-option>
                                </ion-select>
                            </ion-item>
                            <div *ngIf="frmRegistro.controls['tipo_matrimonio'].touched && !frmRegistro.controls['tipo_matrimonio'].valid">
                                <small color="danger" ion-text *ngIf="frmRegistro.controls['tipo_matrimonio'].hasError('required') ">
                                    El campo es requerido
                                </small>
                            </div>
                        </ion-col>
                        <ion-col col-6 col-md-4>
                            <ion-item>
                                <ion-label stacked>Tipo de documento que se aporta</ion-label>
                                <ion-select formControlName="tipo_documento">
                                    <ion-option value="escritura de protocolización">Escritura de protocolización</ion-option>
                                    <ion-option value="partida eclesiástica">Partida eclesiástica</ion-option>
                                    <ion-option value="acta de matrimonio">Acta de matrimonio</ion-option>
                                </ion-select>
                            </ion-item>
                            <div *ngIf="frmRegistro.controls['tipo_documento'].touched && !frmRegistro.controls['tipo_documento'].valid">
                                <small color="danger" ion-text *ngIf="frmRegistro.controls['tipo_documento'].hasError('required') ">
                                    El campo es requerido
                                </small>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-content>
                <h2>Datos del contrayente</h2>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label stacked>Apellidos y nombres completos</ion-label>
                                <ion-input formControlName="contrayente_uno_nombres" type="text"></ion-input>
                            </ion-item>
                            <div *ngIf="frmRegistro.controls['contrayente_uno_nombres'].touched && !frmRegistro.controls['contrayente_uno_nombres'].valid">
                                <small color="danger" ion-text *ngIf="frmRegistro.controls['contrayente_uno_nombres'].hasError('required') ">
                                    El campo es requerido
                                </small>
                                <small color="danger" ion-text *ngIf="frmRegistro.controls['contrayente_uno_nombres'].hasError('pattern')">
                                    Valores no válidos
                                </small>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-12 col-md-6>
                            <ion-item>
                                <ion-label stacked>Tipo de documento</ion-label>
                                <ion-select formControlName="contrayente_uno_tipo_documento_id">
                                    <ion-option *ngFor="let item of tipos_documento" [value]="item.id">{{item.nombre}}</ion-option>
                                </ion-select>
                                <div *ngIf="frmRegistro.controls['contrayente_uno_tipo_documento_id'].touched && !frmRegistro.controls['contrayente_uno_tipo_documento_id'].valid">
                                    <small color="danger" ion-text *ngIf="frmRegistro.controls['contrayente_uno_tipo_documento_id'].hasError('required') ">
                                        El campo es requerido
                                    </small>
                                </div>
                            </ion-item>
                        </ion-col>
                        <ion-col col-12 col-md-6>
                            <ion-item>
                                <ion-label stacked>Documento de identificación</ion-label>
                                <ion-input formControlName="contrayente_uno_documento" (input)="validarContrayenteUno($event.target.value)"></ion-input>
                            </ion-item>
                            <div *ngIf="frmRegistro.controls['contrayente_uno_documento'].touched && !frmRegistro.controls['contrayente_uno_documento'].valid">
                                <small color="danger" ion-text *ngIf="frmRegistro.controls['contrayente_uno_documento'].hasError('required') ">
                                    El campo es requerido
                                </small>
                                <small color="danger" ion-text *ngIf="frmRegistro.controls['contrayente_uno_documento'].hasError('maxlength') || frmRegistro.controls['contrayente_uno_documento'].hasError('minlength')">
                                    Valores no válidos
                                </small>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-content>
                <h2>Datos de la contrayente</h2>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label stacked>Apellidos y nombres completos</ion-label>
                                <ion-input formControlName="contrayente_dos_nombres" type="text"></ion-input>
                            </ion-item>
                            <div *ngIf="frmRegistro.controls['contrayente_dos_nombres'].touched && !frmRegistro.controls['contrayente_dos_nombres'].valid">
                                <small color="danger" ion-text *ngIf="frmRegistro.controls['contrayente_dos_nombres'].hasError('required') ">
                                    El campo es requerido
                                </small>
                                <small color="danger" ion-text *ngIf="frmRegistro.controls['contrayente_dos_nombres'].hasError('pattern')">
                                    Valores no válidos
                                </small>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-12 col-md-6>
                            <ion-item>
                                <ion-label stacked>Tipo de documento</ion-label>
                                <ion-select formControlName="contrayente_dos_tipo_documento_id">
                                    <ion-option *ngFor="let item of tipos_documento" [value]="item.id">{{item.nombre}}</ion-option>
                                </ion-select>
                                <div *ngIf="frmRegistro.controls['contrayente_dos_tipo_documento_id'].touched && !frmRegistro.controls['contrayente_dos_tipo_documento_id'].valid">
                                    <small color="danger" ion-text *ngIf="frmRegistro.controls['contrayente_dos_tipo_documento_id'].hasError('required') ">
                                        El campo es requerido
                                    </small>
                                </div>
                            </ion-item>
                        </ion-col>
                        <ion-col col-12 col-md-6>
                            <ion-item>
                                <ion-label stacked>Documento de identificación</ion-label>
                                <ion-input formControlName="contrayente_dos_documento" (input)="validarContrayenteDos($event.target.value)"></ion-input>
                            </ion-item>
                            <div *ngIf="frmRegistro.controls['contrayente_dos_documento'].touched && !frmRegistro.controls['contrayente_dos_documento'].valid">
                                <small color="danger" ion-text *ngIf="frmRegistro.controls['contrayente_dos_documento'].hasError('required') ">
                                    El campo es requerido
                                </small>
                                <small color="danger" ion-text *ngIf="frmRegistro.controls['contrayente_dos_documento'].hasError('maxlength') || frmRegistro.controls['contrayente_uno_documento'].hasError('minlength')">
                                    Valores no válidos
                                </small>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-content>
                <h2>Datos del denunciante</h2>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label stacked>Apellidos y nombres completos</ion-label>
                                <ion-input formControlName="denunciante_nombres" type="text"></ion-input>
                            </ion-item>
                            <div *ngIf="frmRegistro.controls['denunciante_nombres'].touched && !frmRegistro.controls['denunciante_nombres'].valid">
                                <small color="danger" ion-text *ngIf="frmRegistro.controls['denunciante_nombres'].hasError('required') ">
                                    El campo es requerido
                                </small>
                                <small color="danger" ion-text *ngIf="frmRegistro.controls['denunciante_nombres'].hasError('pattern')">
                                    Valores no válidos
                                </small>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-12 col-md-4>
                            <ion-item>
                                <ion-label stacked>Tipo de documento</ion-label>
                                <ion-select formControlName="denunciante_tipo_documento_id">
                                    <ion-option *ngFor="let item of tipos_documento" [value]="item.id">{{item.nombre}}</ion-option>
                                </ion-select>
                            </ion-item>
                            <div *ngIf="frmRegistro.controls['denunciante_tipo_documento_id'].touched && !frmRegistro.controls['denunciante_tipo_documento_id'].valid">
                                <small color="danger" ion-text *ngIf="frmRegistro.controls['denunciante_tipo_documento_id'].hasError('required') ">
                                    El campo es requerido
                                </small>
                            </div>
                        </ion-col>
                        <ion-col col-12 col-md-4>
                            <ion-item>
                                <ion-label stacked>Documento de indentificación</ion-label>
                                <ion-input formControlName="denunciante_documento" (input)="validarDenunciante($event.target.value)"></ion-input>
                            </ion-item>
                            <div *ngIf="frmRegistro.controls['denunciante_documento'].touched && !frmRegistro.controls['denunciante_documento'].valid">
                                <small color="danger" ion-text *ngIf="frmRegistro.controls['denunciante_documento'].hasError('required') ">
                                    El campo es requerido
                                </small>
                                <small color="danger" ion-text *ngIf="frmRegistro.controls['denunciante_documento'].hasError('maxlength') || 
                                frmRegistro.controls['denunciante_documento'].hasError('minlength') || 
                                frmRegistro.controls['denunciante_documento'].hasError('pattern')">
                                    Valores no válidos
                                </small>
                            </div>
                        </ion-col>
                        <ion-col col-12 col-md-4>
                            <ion-item>
                                <ion-label id="firma_denunciante" stacked>Firma</ion-label>
                                <ion-input type="file" accept="image/*" (change)="guardarFirmaDenunciante($event)"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-content>
                <h2>Capitulaciones</h2>
                <ion-grid>
                    <ion-row>
                        <ion-col col-12 col-md-6>
                            <ion-item>
                                <ion-label stacked>Lugar otorgamiento de la escritura</ion-label>
                                <ion-input formControlName="capitulacion_lugar_escritura" type="text"></ion-input>
                            </ion-item>
                            <div *ngIf="frmRegistro.controls['capitulacion_lugar_escritura'].touched && !frmRegistro.controls['capitulacion_lugar_escritura'].valid">
                                <small color="danger" ion-text *ngIf="frmRegistro.controls['capitulacion_lugar_escritura'].hasError('required') ">
                                    El campo es requerido
                                </small>
                                <small color="danger" ion-text *ngIf="frmRegistro.controls['capitulacion_lugar_escritura'].hasError('pattern')">
                                    Valores no válidos
                                </small>
                            </div>
                        </ion-col>
                        <ion-col col-12 col-md-3>
                            <ion-item>
                                <ion-label stacked>No. Notaria</ion-label>
                                <ion-input formControlName="capitulacion_num_notaria"></ion-input>
                            </ion-item>
                            <div *ngIf="frmRegistro.controls['capitulacion_num_notaria'].touched && !frmRegistro.controls['capitulacion_num_notaria'].valid">
                                <small color="danger" ion-text *ngIf="frmRegistro.controls['capitulacion_num_notaria'].hasError('required') ">
                                    El campo es requerido
                                </small>
                                <small color="danger" ion-text *ngIf="frmRegistro.controls['capitulacion_num_notaria'].hasError('maxlength') || 
                                frmRegistro.controls['capitulacion_num_notaria'].hasError('minlength') || 
                                frmRegistro.controls['capitulacion_num_notaria'].hasError('pattern')">
                                    Valores no válidos
                                </small>
                            </div>
                        </ion-col>
                        <ion-col col-12 col-md-3>
                            <ion-item>
                                <ion-label stacked>No. Escritura</ion-label>
                                <ion-input formControlName="capitulacion_num_escritura"></ion-input>
                            </ion-item>
                            <div *ngIf="frmRegistro.controls['capitulacion_num_escritura'].touched && !frmRegistro.controls['capitulacion_num_escritura'].valid">
                                <small color="danger" ion-text *ngIf="frmRegistro.controls['capitulacion_num_escritura'].hasError('required') ">
                                    El campo es requerido
                                </small>
                                <small color="danger" ion-text *ngIf="frmRegistro.controls['capitulacion_num_escritura'].hasError('maxlength') || 
                                frmRegistro.controls['capitulacion_num_escritura'].hasError('minlength') || 
                                frmRegistro.controls['capitulacion_num_escritura'].hasError('pattern')">
                                    Valores no válidos
                                </small>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-item>
                            <ion-label stacked>Fecha de la escritura</ion-label>
                            <ion-datetime displayFormat="MM/DD/YYYY" formControlName="capitulacion_fecha_escritura"></ion-datetime>
                        </ion-item>
                        <div *ngIf="frmRegistro.controls['capitulacion_fecha_escritura'].touched && !frmRegistro.controls['capitulacion_fecha_escritura'].valid">
                            <small color="danger" ion-text *ngIf="frmRegistro.controls['capitulacion_fecha_escritura'].hasError('required') ">
                                El campo es requerido
                            </small>
                        </div>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-content>
                <h2>Hijos legitimados por el matrimonio</h2>
                <ion-grid>
                    <ion-row>
                        <ion-col col-12 col-md-3>
                            <ion-item>
                                <ion-label stacked>Apellidos y nombres</ion-label>
                                <ion-input formControlName="hijo_uno_nombres" type="text"></ion-input>
                            </ion-item>
                            <div *ngIf="frmRegistro.controls['hijo_uno_nombres'].touched && !frmRegistro.controls['hijo_uno_nombres'].valid">
                                <small color="danger" ion-text *ngIf="frmRegistro.controls['hijo_uno_nombres'].hasError('required') ">
                                    El campo es requerido
                                </small>
                                <small color="danger" ion-text *ngIf="frmRegistro.controls['hijo_uno_nombres'].hasError('pattern')">
                                    Valores no válidos
                                </small>
                            </div>
                        </ion-col>
                        <ion-col col-12 col-md-3>
                            <ion-item>
                                <ion-label stacked>Tipo de documento</ion-label>
                                <ion-select formControlName="hijo_uno_tipo_documento_id">
                                    <ion-option *ngFor="let item of tipos_documento" [value]="item.id">{{item.nombre}}</ion-option>
                                </ion-select>
                            </ion-item>
                            <div *ngIf="frmRegistro.controls['hijo_uno_tipo_documento_id'].touched && !frmRegistro.controls['hijo_uno_tipo_documento_id'].valid">
                                <small color="danger" ion-text *ngIf="frmRegistro.controls['hijo_uno_tipo_documento_id'].hasError('required') ">
                                    El campo es requerido
                                </small>
                            </div>
                        </ion-col>
                        <ion-col col-12 col-md-3>
                            <ion-item>
                                <ion-label stacked>Documento de indentificación</ion-label>
                                <ion-input formControlName="hijo_uno_documento"></ion-input>
                            </ion-item>
                            <div *ngIf="frmRegistro.controls['hijo_uno_documento'].touched && !frmRegistro.controls['hijo_uno_documento'].valid">
                                <small color="danger" ion-text *ngIf="frmRegistro.controls['hijo_uno_documento'].hasError('required') ">
                                    El campo es requerido
                                </small>
                                <small color="danger" ion-text *ngIf="frmRegistro.controls['hijo_uno_documento'].hasError('maxlength') || 
                                frmRegistro.controls['hijo_uno_documento'].hasError('minlength') || 
                                frmRegistro.controls['hijo_uno_documento'].hasError('pattern')">
                                    Valores no válidos
                                </small>
                            </div>
                        </ion-col>
                        <ion-col col-12 col-md-3>
                            <ion-item>
                                <ion-label stacked>Indicativo serial de nacimiento</ion-label>
                                <ion-input formControlName="hijo_uno_indicativo_serial"></ion-input>
                            </ion-item>
                            <div *ngIf="frmRegistro.controls['hijo_uno_indicativo_serial'].touched && !frmRegistro.controls['hijo_uno_indicativo_serial'].valid">
                                <small color="danger" ion-text *ngIf="frmRegistro.controls['hijo_uno_indicativo_serial'].hasError('required') ">
                                    El campo es requerido
                                </small>
                                <small color="danger" ion-text *ngIf="frmRegistro.controls['hijo_uno_indicativo_serial'].hasError('maxlength') || 
                                frmRegistro.controls['hijo_uno_indicativo_serial'].hasError('minlength') || 
                                frmRegistro.controls['hijo_uno_indicativo_serial'].hasError('pattern')">
                                    Valores no válidos
                                </small>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-12 col-md-3>
                            <ion-item>
                                <ion-label stacked>Apellidos y nombres</ion-label>
                                <ion-input formControlName="hijo_dos_nombres" type="text"></ion-input>
                            </ion-item>
                            <div *ngIf="frmRegistro.controls['hijo_dos_nombres'].touched && !frmRegistro.controls['hijo_dos_nombres'].valid">
                                <small color="danger" ion-text *ngIf="frmRegistro.controls['hijo_dos_nombres'].hasError('required') ">
                                    El campo es requerido
                                </small>
                                <small color="danger" ion-text *ngIf="frmRegistro.controls['hijo_dos_nombres'].hasError('pattern')">
                                    Valores no válidos
                                </small>
                            </div>
                        </ion-col>
                        <ion-col col-12 col-md-3>
                            <ion-item>
                                <ion-label stacked>Tipo de documento</ion-label>
                                <ion-select formControlName="hijo_dos_tipo_documento_id">
                                    <ion-option *ngFor="let item of tipos_documento" [value]="item.id">{{item.nombre}}</ion-option>
                                </ion-select>
                            </ion-item>
                            <div *ngIf="frmRegistro.controls['hijo_dos_tipo_documento_id'].touched && !frmRegistro.controls['hijo_dos_tipo_documento_id'].valid">
                                <small color="danger" ion-text *ngIf="frmRegistro.controls['hijo_dos_tipo_documento_id'].hasError('required') ">
                                    El campo es requerido
                                </small>
                            </div>
                        </ion-col>
                        <ion-col col-12 col-md-3>
                            <ion-item>
                                <ion-label stacked>Documento de indentificación</ion-label>
                                <ion-input formControlName="hijo_dos_documento"></ion-input>
                            </ion-item>
                            <div *ngIf="frmRegistro.controls['hijo_dos_documento'].touched && !frmRegistro.controls['hijo_dos_documento'].valid">
                                <small color="danger" ion-text *ngIf="frmRegistro.controls['hijo_dos_documento'].hasError('required') ">
                                    El campo es requerido
                                </small>
                                <small color="danger" ion-text *ngIf="frmRegistro.controls['hijo_dos_documento'].hasError('maxlength') || 
                                    frmRegistro.controls['hijo_dos_documento'].hasError('minlength') || 
                                    frmRegistro.controls['hijo_dos_documento'].hasError('pattern')">
                                    Valores no válidos
                                </small>
                            </div>
                        </ion-col>
                        <ion-col col-12 col-md-3>
                            <ion-item>
                                <ion-label stacked>Indicativo serial de nacimiento</ion-label>
                                <ion-input formControlName="hijo_dos_indicativo_serial"></ion-input>
                            </ion-item>
                            <div *ngIf="frmRegistro.controls['hijo_dos_indicativo_serial'].touched && !frmRegistro.controls['hijo_dos_indicativo_serial'].valid">
                                <small color="danger" ion-text *ngIf="frmRegistro.controls['hijo_dos_indicativo_serial'].hasError('required') ">
                                    El campo es requerido
                                </small>
                                <small color="danger" ion-text *ngIf="frmRegistro.controls['hijo_dos_indicativo_serial'].hasError('maxlength') || 
                                    frmRegistro.controls['hijo_dos_indicativo_serial'].hasError('minlength') || 
                                    frmRegistro.controls['hijo_dos_indicativo_serial'].hasError('pattern')">
                                    Valores no válidos
                                </small>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-content>
                <h2>Providencias</h2>
                <ion-grid>
                    <ion-row>
                        <ion-col col-12 col-md-3>
                            <ion-item>
                                <ion-label stacked>Tipo de providencia</ion-label>
                                <ion-select formControlName="providencia_tipo">
                                    <ion-option value="separacion">Separación</ion-option>
                                    <ion-option value="cesacion">Cesación</ion-option>
                                    <ion-option value="nulidad">Nulidad</ion-option>
                                </ion-select>
                            </ion-item>
                            <div *ngIf="frmRegistro.controls['providencia_tipo'].touched && !frmRegistro.controls['providencia_tipo'].valid">
                                <small color="danger" ion-text *ngIf="frmRegistro.controls['providencia_tipo'].hasError('required') ">
                                    El campo es requerido
                                </small>
                            </div>
                        </ion-col>
                        <ion-col col-12 col-md-2>
                            <ion-item>
                                <ion-label stacked>No. Escritura</ion-label>
                                <ion-input formControlName="providencia_num_escritura"></ion-input>
                            </ion-item>
                            <div *ngIf="frmRegistro.controls['providencia_num_escritura'].touched && !frmRegistro.controls['providencia_num_escritura'].valid">
                                <small color="danger" ion-text *ngIf="frmRegistro.controls['providencia_num_escritura'].hasError('required') ">
                                    El campo es requerido
                                </small>
                                <small color="danger" ion-text *ngIf="frmRegistro.controls['providencia_num_escritura'].hasError('maxlength') || 
                                            frmRegistro.controls['providencia_num_escritura'].hasError('minlength') || 
                                            frmRegistro.controls['providencia_num_escritura'].hasError('pattern')">
                                    Valores no válidos
                                </small>
                            </div>
                        </ion-col>
                        <ion-col col-12 col-md-2>
                            <ion-item>
                                <ion-label stacked>No. Notaria</ion-label>
                                <ion-input formControlName="providencia_num_notaria"></ion-input>
                            </ion-item>
                            <div *ngIf="frmRegistro.controls['providencia_num_notaria'].touched && !frmRegistro.controls['providencia_num_notaria'].valid">
                                <small color="danger" ion-text *ngIf="frmRegistro.controls['providencia_num_notaria'].hasError('required') ">
                                    El campo es requerido
                                </small>
                                <small color="danger" ion-text *ngIf="frmRegistro.controls['hijo_uno_documento'].hasError('maxlength') || 
                                    frmRegistro.controls['providencia_num_notaria'].hasError('minlength') || 
                                    frmRegistro.controls['providencia_num_notaria'].hasError('pattern')">
                                    Valores no válidos
                                </small>
                            </div>
                        </ion-col>
                        <ion-col col-12 col-md-2>
                            <ion-item>
                                <ion-label stacked>Fecha</ion-label>
                                <ion-datetime displayFormat="MM/DD/YYYY" formControlName="providencia_fecha"></ion-datetime>
                            </ion-item>
                            <div *ngIf="frmRegistro.controls['providencia_fecha'].touched && !frmRegistro.controls['providencia_fecha'].valid">
                                <small color="danger" ion-text *ngIf="frmRegistro.controls['providencia_fecha'].hasError('required') ">
                                    El campo es requerido
                                </small>
                            </div>
                        </ion-col>
                        <ion-col col-12 col-md-3>
                            <ion-item>
                                <ion-label id="firma_testigo_dos" stacked>Firma</ion-label>
                                <ion-input type="file" accept="image/*" (change)="guardarFirmaProvidencia($event)"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-content>

                <ion-grid>
                    <h4 text-center>
                        ESPACIO PARA NOTAS
                    </h4>
                    <ion-row>
                        <ion-textarea formControlName="notas_marginales"></ion-textarea>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>
        <button ion-button full type="submit" [disabled]="!frmRegistro.valid">Guardar</button>
    </form>
</ion-content>