<ion-header>

  <ion-navbar>
    <ion-title>Configuracion</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <!-- <ion-card>
    <ion-card-content>
      <ion-card-title>
        <h2>Info notaría</h2>
      </ion-card-title>

      <ion-list>
        <ion-item>Test1</ion-item>
        <ion-item>Test2</ion-item>
        <ion-item>Test3</ion-item>
      </ion-list>

    </ion-card-content>
  </ion-card> -->

  <ion-card>
    <ion-item>
      <ion-avatar item-end>
        <button ion-button clear (click)="guardarRol()">
          <ion-icon color="secondary" name="create"></ion-icon>
        </button>
      </ion-avatar>
      <h2>Rol</h2>
      <p>Listado de roles</p>
    </ion-item>
    <ion-item *ngFor="let item of roles">
      <p>{{ item.nombre }}</p>
      <ion-avatar item-end>
        <button ion-button clear (click)="guardarRol(item)">
          <ion-icon name="hammer"></ion-icon>
        </button>
      </ion-avatar>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-avatar item-end>
        <button ion-button clear (click)="guardarTipoDocumento()">
          <ion-icon color="secondary" name="create"></ion-icon>
        </button>
      </ion-avatar>
      <h2>Tipo de documento</h2>
      <p>Listado de tipos de documento</p>
    </ion-item>
    <ion-item *ngFor="let item of tiposDocumento">
      <p>{{ item.nombre }}</p>
      <ion-avatar item-end>
        <button ion-button clear (click)="guardarTipoDocumento(item)">
          <ion-icon name="hammer"></ion-icon>
        </button>
      </ion-avatar>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-avatar item-end>
        <button ion-button clear (click)="guardarFormaPago()">
          <ion-icon color="secondary" name="create"></ion-icon>
        </button>
      </ion-avatar>
      <h2>Forma de pago</h2>
      <p>Listado de formas de pago</p>
    </ion-item>
    <ion-item *ngFor="let item of formasPago">
      <p>{{ item.nombre }}</p>
      <ion-avatar item-end>
        <button ion-button clear (click)="guardarFormaPago(item)">
          <ion-icon name="hammer"></ion-icon>
        </button>
      </ion-avatar>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-avatar item-end>
        <button ion-button clear (click)="guardarNacionalidad()">
          <ion-icon color="secondary" name="create"></ion-icon>
        </button>
      </ion-avatar>
      <h2>Nacionalidad</h2>
      <p>Listado de nacionalidades</p>
    </ion-item>
    <ion-item *ngFor="let item of nacionalidades">
      <p>{{ item.nombre }}</p>
      <ion-avatar item-end>
        <button ion-button clear (click)="guardarNacionalidad(item)">
          <ion-icon name="hammer"></ion-icon>
        </button>
      </ion-avatar>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-avatar item-end>
        <button ion-button clear (click)="guardarEstTramite()">
          <ion-icon color="secondary" name="create"></ion-icon>
        </button>
      </ion-avatar>
      <h2>Estado de tramite</h2>
      <p>Listado de estados de tramite</p>
    </ion-item>
    <ion-item *ngFor="let item of estadosTramite">
      <p>{{ item.nombre }}</p>
      <ion-avatar item-end>
        <button ion-button clear (click)="guardarEstTramite(item)">
          <ion-icon name="hammer"></ion-icon>
        </button>
      </ion-avatar>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-avatar item-end>
        <button ion-button clear (click)="guardarGenero()">
          <ion-icon color="secondary" name="create"></ion-icon>
        </button>
      </ion-avatar>
      <h2>Genero</h2>
      <p>Listado de generos</p>
    </ion-item>
    <ion-item *ngFor="let item of generos">
      <p>{{ item.nombre }}</p>
      <ion-avatar item-end>
        <button ion-button clear (click)="guardarGenero(item)">
          <ion-icon name="hammer"></ion-icon>
        </button>
      </ion-avatar>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-avatar item-end>
        <button ion-button clear (click)="guardarTipoTramite()">
          <ion-icon color="secondary" name="create"></ion-icon>
        </button>
      </ion-avatar>
      <h2>Tipo de trámite</h2>
      <p>Listado de tipos de trámite</p>
    </ion-item>
    <ion-item *ngFor="let item of tiposTramite">
      <p>{{ item.nombre }} - ${{item.valor}}</p>
      <ion-avatar item-end>
        <button ion-button clear (click)="guardarTipoTramite(item)">
          <ion-icon name="hammer"></ion-icon>
        </button>
      </ion-avatar>
    </ion-item>
  </ion-card>

</ion-content>